:root{
  --aside-background: #2c3e50;
  --hover-color: #34495e;
  --active-link-color: #1abc9c;
  --backgroud-color: #f5f5f5;
}


.admin-container {
  display: flex;
  height: 100vh;
}

.dark-mode {
  --aside-background: #1c1c1c;
  --hover-color: #333333;
   --active-link-color: #164b35;
  --backgroud-color: #121212;
}

aside {
  width: 250px;
  background-color: var(--aside-background);
  color: white;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 15px 0;
  padding: 0 .7rem;
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 0.2s ease-out;
}

nav ul li:hover {
  background-color: var(--hover-color);
}

.active-link{
  background-color: var(--active-link-color) !important
}

main {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--backgroud-color);
  color: #2c3e50;
}

nav ul li a {
  color: white;
  padding: .6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
